* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --primary: hsl(160deg, 100%, 30%);
  --secondary-light: hsl(45deg, 100%, 50%);
  --secondary-dark: hsl(45deg, 100%, 40%);
  --blackGray: hsl(0deg, 0%, 0%);
  --veryDarkGray: hsl(0deg, 0%, 10%);
  --darkGray: hsl(0deg, 0%, 30%);
  --mediumGray: hsl(0deg, 0%, 40%);
  --lightGray: hsl(0deg, 0%, 60%);
  --whiteGray: hsl(0deg, 0%, 100%);
}

header {
  padding: 96px 256px 48px;
  height: 50%;
}

main {
  background-color: var(--lightGray);
  border-top: 6px solid var(--mediumGray);
  padding: 58px 0;
  height: 50%;
}

h1 {
  margin-bottom: 48px;
  font-size: 1.5rem;
}

p {
  line-height: 1.25;
}

strong {
  color: var(--primary);
}

.max-width-wrapper {
  margin-bottom: 48px;
  max-width: 648px;
  margin: 0 auto;
}

.intro-chunk {
  background: var(--whiteGray);
  max-width: 350px;
  margin-left: 24px;
}

.card {
  background: var(--whiteGray);
  margin: 0 auto;
  border-bottom: 6px solid var(--mediumGray);
  padding: 24px;
}

.indented-heading {
  background: var(--secondary-light);
  border-bottom: 6px solid var(--secondary-dark);
  padding: 16px 40px;
  width: fit-content;
  margin-top: -16px;
  margin-left: -40px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  header {
    padding: 96px 0 48px 0;
  }

  .max-width-wrapper {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .card p {
    display: none;
  }
}
